body {
    background-image: url(../images/white-waves.png);
    background-color: #ccc;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    background-color: #ffffff;
    border-color: #ccc;
    margin: auto;
    padding: 30px;
    text-align: center;
    position: relative;
    overflow: auto;
}

.center {
    margin: auto;
    width: 900px;
    padding-bottom: 0;
}

.name {
    background-color: teal;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 250px;
    margin-bottom: 0%;
    text-align: center;
    float:left;
}

.nav {
    padding-bottom: 0;
}

h2 {
    color: teal;
}

section {
    color: #777;
    border-color: #ddd;
    padding: 30px;
    width: 900px;
    background-color: #fff;
    text-align: left;
    margin:auto;
    position:relative;
    margin-top: 20px;
    margin-bottom: 80px;
    min-height: 400px;
}

img {
    height: 25%;
    width: 25%;
    display: inline;
    float: left;
    padding-right: 30px;
}

ul {
    list-style: none;
    display: inline;
    float: right;
}

li {
    float:right;
    margin: 10px;
}

input {
    width:100%;

}

textarea {
    width: 100%;
}

.bio {
    position: relative;
    float: left;
    display:inline;
}

.portfolio {
    /* min-height: "800px" */
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #777;
    text-align: center;
    font-size: 10px;
    padding-top:30px;
    padding-bottom: 0;
    border-style: solid;
    border-color: teal;
    margin-top: 20px;
    margin-bottom: 0;
}