header {
    background-color: #ffffff;
    border-color: #ccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url("../css/dark-honeycomb.png");
    background-color: #ccc;
}

section {
    color: #777;
    border-color: #ddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 30px;
    width: 900px;
}